body {
background-image: url(https://s3.amazonaws.com/dom-cms/Site/cf10bf9c-ec46-4681-a5ff-55e798911e6f/images/23712868-Car-part-icons-set--Stock-Vector-car-auto.jpg?e9c6b275-a504-4a33-932a-957b08ac3aa9)";
}

.box {
border: 2px solid black
width: 100%
height: 100%
text-align: center
background-color: #a5a5a5
font-family: georgia
font-size: 150%
}

